<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ur5_gazebo">

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ros2_impedance_controller)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
